<section class="course-info">
    <div class="_container">
        <div class="course-info__content">
            <div class="course-info__content-main">
                <div class="course-info__about">
                    <h3 class="course-info__about-title">About the course</h3>
                    <p class="course-info__about-discription">Bibendum vulputate adipiscing venenatis at est, a eu tincidunt. Leo aenean congue in sagittis, felis maecenas amet varius at. Pellentesque euismod in faucibus at elementum. Tellus maecenas libero est tempus sit cras at malesuada diam. Consequat senectus dictumst non hac dignissim montes, pretium, egestas molestie. Sed magna aliquet ornare nibh vel lectus diam eget pretium. Lorem risus nunc tincidunt tortor, mi nulla pellentesque</p>
                </div>
                <div class="course-info__about-benefits">
                    <h4 class="course-info__about-benefits-title">You will learn:</h4>
                    <ul class="course-info__about-benefits-list">
                        <li>A fermentum in morbi pretium aliquam adipiscing donec tempus.</li>
                        <li>Vulputate placerat amet pulvinar lorem nisl.</li>
                        <li>Consequat feugiat habitant gravida quisque elit bibendum id adipiscing sed.</li>
                        <li>Etiam duis lobortis in fames ultrices commodo nibh.</li>
                        <li>Fringilla in nec risus congue venenatis pretium posuere nec.</li>
                        <li>Cursus eu pretium, vulputate tempus quam massa sed at.</li>
                    </ul>
                </div>
            </div>
            <div class="course-info__content-sidebar">
                <div class="course-info__content-sidebar-row">
                    <h5 class="course-info__content-sidebar-title">Dates</h5>
                    <p class="course-info__content-sidebar-month">Sept 7 – Nov 2</p>
                    <p class="course-info__content-sidebar-subtitle">Metus turpis sit lorem lacus, in elit tellus lacus.</p>
                </div>
                <div class="course-info__content-sidebar-row">
                    <h5 class="course-info__content-sidebar-title">Duration</h5>
                    <p class="course-info__content-sidebar-month">2 months – 8 lessons</p>
                    <p class="course-info__content-sidebar-subtitle">Metus turpis sit lorem lacus, in elit tellus lacus.</p>
                </div>
                <div class="course-info__content-sidebar-row">
                    <h5 class="course-info__content-sidebar-title">Price</h5>
                    <p class="course-info__content-sidebar-month">$120 per month</p>
                    <p class="course-info__content-sidebar-subtitle">Nulla sem adipiscing adipiscing felis fringilla. Adipiscing mauris quam ac elit tristique dis.</p>
                </div>
                <a href="#" class="default-button">Join the course</a>
            </div>
        </div>
    </div>
</section>