<section class="curator">
    <div class="_container">
        <div class="curator__content">
            <div class="curator__img-wrapper">
                <img src="img/coursePage/CodyFisher.png" alt="#" class="curator-img">
            </div>
            <div class="curator__body">
                <h5 class="curator__title">Course curator</h5>
                <h4 class="curator__fullname">Cody Fisher</h4>
                <h5 class="curator__position">Senior UX designer in IT Product Company</h5>
                <p class="curator__detail">4.9 rate</p>
                <p class="curator__detail">4 courses</p>
                <p class="curator__detail">350 students</p>
                <p class="curator__discription">Mattis adipiscing aliquam eu proin metus a iaculis faucibus. Tempus curabitur venenatis, vulputate venenatis fermentum ante. Nisl, amet id semper semper quis commodo, consequat. Massa rhoncus sit morbi odio. Sit maecenas nibh consectetur vel diam. Sem vulputate molestie laoreet at massa sed pharetra. Ac commodo platea id habitasse proin. Nullam sit nec ipsum posuere non. Nam vel aliquam tristique sollicitudin interdum quam. </p>
                <ul class="curator__links">
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                </ul>
            </div>

        </div>
    </div>
</section>
