<section class="discount">
    <div class="_container">
        <div class="discount__wrapper">

        <div class="discount__header">
            <h3 class="discount-title">20% discount for early birds!</h3>
            <div class="discount__time">
                <div class="discount__column">
                    <p class="discount__time-num" id="discountDays">0</p>
                    <p class="discount__time-subtitle">Days</p>
                </div>
                <div class="discount__column">
                    <p class="discount__time-num" id="discountHours">0</p>
                    <p class="discount__time-subtitle">Hours</p>
                </div>
                <div class="discount__column">
                    <p class="discount__time-num" id="discountMinutes">0</p>
                    <p class="discount__time-subtitle">Mins</p>
                </div>
                <div class="discount__column">
                    <p class="discount__time-num" id="discountSeconds">0</p>
                    <p class="discount__time-subtitle">Sec</p>
                </div>
            </div>
        </div>
            <form class="discount__form">
                <div class="discount__form-column">
                    <label for="#discFullname">Full name</label>
                    <input placeholder="Your full name" id="discFullname" type="text" class="discount-input">
                </div>
                <div class="discount__form-column">
                    <label for="#discEmail">Email</label>
                    <input placeholder="Your working email" id="discEmail" type="email" class="discount-input">
                </div>
                <div class="discount__form-column">
                    <label for="#discPhone">Phone</label>
                    <input placeholder="Your phone number" id="discPhone" type="tel" class="discount-input">
                </div>
                <button  class="default-button">Join the course</button>
            </form>
            </div>
    </div>
</section>