<section class="plan">
    <div class="_container">
        <div class="default-section__header">
          <h3 class="default-section__header-subtitle">Course program</h3>
          <h2 class="default-section__header-title">What will you learn</h2>
        </div>
        <div class="plan__body">
            <div class="plan__accordions">
                <!-- ACCORDION 1 -->
                <div class="plan__accordion">
                    <div class="plan__accordion-header">
                        <div class="plan__accordion-btn">
                            <span></span>
                            <span></span>
                        </div>
                        <h6 class="plan__accordion-title"><span>Lesson 1.</span> Aliquet lectus urna viverra in odio.</h6>
                    </div>
                    <div class="plan__accordion-body">
                        <p class="plan__accordion-text">Nulla amet, sagittis potenti rhoncus sit. Elit lectus nec pulvinar aliquet donec enim, ornare. Lacus facilisi curabitur turpis varius mauris. Nisi, tempus risus, odio mi suscipit sed. Curabitur faucibus porttitor quis sem lacus, arcu feugiat facilisis. Commodo nunc orci vitae accumsan id.</p>
                    </div>
                </div>
                <!-- ACCORDION 2 -->
                <div class="plan__accordion">
                    <div class="plan__accordion-header">
                        <div class="plan__accordion-btn">
                            <span></span>
                            <span></span>
                        </div>
                        <h6 class="plan__accordion-title"><span>Lesson 2.</span> Orci commodo, viverra orci mollis ut euismod.</h6>
                    </div>
                    <div class="plan__accordion-body">
                        <p class="plan__accordion-text">Nulla amet, sagittis potenti rhoncus sit. Elit lectus nec pulvinar aliquet donec enim, ornare. Lacus facilisi curabitur turpis varius mauris. Nisi, tempus risus, odio mi suscipit sed. Curabitur faucibus porttitor quis sem lacus, arcu feugiat facilisis. Commodo nunc orci vitae accumsan id.</p>
                    </div>
                </div>
                <!-- ACCORDION 3 -->
                <div class="plan__accordion">
                    <div class="plan__accordion-header">
                        <div class="plan__accordion-btn">
                            <span></span>
                            <span></span>
                        </div>
                        <h6 class="plan__accordion-title"><span>Lesson 3.</span> Sagittis vitae facilisi rutrum amet mauris quisque vel.</h6>
                    </div>
                    <div class="plan__accordion-body">
                        <p class="plan__accordion-text">Nulla amet, sagittis potenti rhoncus sit. Elit lectus nec pulvinar aliquet donec enim, ornare. Lacus facilisi curabitur turpis varius mauris. Nisi, tempus risus, odio mi suscipit sed. Curabitur faucibus porttitor quis sem lacus, arcu feugiat facilisis. Commodo nunc orci vitae accumsan id.</p>
                    </div>
                </div>
                <!-- ACCORDION 4 -->
                <div class="plan__accordion">
                    <div class="plan__accordion-header">
                        <div class="plan__accordion-btn">
                            <span></span>
                            <span></span>
                        </div>
                        <h6 class="plan__accordion-title"><span>Lesson 4.</span> In id dolor quis nunc, urna hendrerit pharetra.</h6>
                    </div>
                    <div class="plan__accordion-body">
                        <p class="plan__accordion-text">Nulla amet, sagittis potenti rhoncus sit. Elit lectus nec pulvinar aliquet donec enim, ornare. Lacus facilisi curabitur turpis varius mauris. Nisi, tempus risus, odio mi suscipit sed. Curabitur faucibus porttitor quis sem lacus, arcu feugiat facilisis. Commodo nunc orci vitae accumsan id.</p>
                    </div>
                </div>
                <!-- ACCORDION 5 -->
                <div class="plan__accordion">
                    <div class="plan__accordion-header">
                        <div class="plan__accordion-btn">
                            <span></span>
                            <span></span>
                        </div>
                        <h6 class="plan__accordion-title"><span>Lesson 5.</span> Est, ut tempus id rutrum facilisi.</h6>
                    </div>
                    <div class="plan__accordion-body">
                        <p class="plan__accordion-text">Nulla amet, sagittis potenti rhoncus sit. Elit lectus nec pulvinar aliquet donec enim, ornare. Lacus facilisi curabitur turpis varius mauris. Nisi, tempus risus, odio mi suscipit sed. Curabitur faucibus porttitor quis sem lacus, arcu feugiat facilisis. Commodo nunc orci vitae accumsan id.</p>
                    </div>
                </div>
                <!-- ACCORDION 6 -->
                <div class="plan__accordion">
                    <div class="plan__accordion-header">
                        <div class="plan__accordion-btn">
                            <span></span>
                            <span></span>
                        </div>
                        <h6 class="plan__accordion-title"><span>Lesson 6.</span> Massa vel arcu mauris, id vel rhoncus mattis quis.</h6>
                    </div>
                    <div class="plan__accordion-body">
                        <p class="plan__accordion-text">Nulla amet, sagittis potenti rhoncus sit. Elit lectus nec pulvinar aliquet donec enim, ornare. Lacus facilisi curabitur turpis varius mauris. Nisi, tempus risus, odio mi suscipit sed. Curabitur faucibus porttitor quis sem lacus, arcu feugiat facilisis. Commodo nunc orci vitae accumsan id.</p>
                    </div>
                </div>
                <!-- ACCORDION 7 -->
                <div class="plan__accordion">
                    <div class="plan__accordion-header">
                        <div class="plan__accordion-btn">
                            <span></span>
                            <span></span>
                        </div>
                        <h6 class="plan__accordion-title"><span>Lesson 7.</span> Amet nec in pellentesque.</h6>
                    </div>
                    <div class="plan__accordion-body">
                        <p class="plan__accordion-text">Nulla amet, sagittis potenti rhoncus sit. Elit lectus nec pulvinar aliquet donec enim, ornare. Lacus facilisi curabitur turpis varius mauris. Nisi, tempus risus, odio mi suscipit sed. Curabitur faucibus porttitor quis sem lacus, arcu feugiat facilisis. Commodo nunc orci vitae accumsan id.</p>
                    </div>
                </div>
                <!-- ACCORDION 8 -->
                <div class="plan__accordion">
                    <div class="plan__accordion-header">
                        <div class="plan__accordion-btn">
                            <span></span>
                            <span></span>
                        </div>
                        <h6 class="plan__accordion-title"><span>Lesson 8.</span> Neque, cursus sapien nullam id.</h6>
                    </div>
                    <div class="plan__accordion-body">
                        <p class="plan__accordion-text">Nulla amet, sagittis potenti rhoncus sit. Elit lectus nec pulvinar aliquet donec enim, ornare. Lacus facilisi curabitur turpis varius mauris. Nisi, tempus risus, odio mi suscipit sed. Curabitur faucibus porttitor quis sem lacus, arcu feugiat facilisis. Commodo nunc orci vitae accumsan id.</p>
                    </div>
                </div>
            </div>
            <img src="../../../img/coursePage/illustration.png" alt="girl is working" class="plan__img">
        </div>
    </div>
</section>