<section class="steps">
    <div class="_container">
        <div class="default-section__header">
            <h3 class="default-section__header-subtitle">Main steps</h3>
            <h2 class="default-section__header-title">Online learning process</h2>
        </div>
        <div class="steps__flex">
            <!-- STEP -->
            <div class="steps__block">
                <div class="steps__block-header">
                    <h5 class="steps__block-number">01</h5>
                    <div class="steps__block-line"></div>
                </div>
                <div class="steps__block-body">
                    <h6 class="steps__block-title">Watching online video lectures</h6>
                    <p class="steps__block-description">Culpa nostrud commodo ea consequat aliquip reprehenderit. Veniam velit nostrud aliquip sunt.</p>
                </div>
            </div>
            <!-- STEP -->
            <div class="steps__block">
                <div class="steps__block-header">
                    <h5 class="steps__block-number">02</h5>
                    <div class="steps__block-line"></div>
                </div>
                <div class="steps__block-body">
                    <h6 class="steps__block-title">Passing test</h6>
                    <p class="steps__block-description">Anim reprehenderit sint voluptate exercitation adipisicing laborum adipisicing. Minim ad tempor est ea.</p>
                </div>
            </div>
            <!-- STEP -->
            <div class="steps__block">
                <div class="steps__block-header">
                    <h5 class="steps__block-number">03</h5>
                    <div class="steps__block-line"></div>
                </div>
                <div class="steps__block-body">
                    <h6 class="steps__block-title">Curator’s feedback</h6>
                    <p class="steps__block-description">Adipisicing esse aliqua aliquip qui amet. Aute eiusmod dolore dolore et ad et veniam ad deserunt.</p>
                </div>
            </div>
            <!-- STEP -->
            <div class="steps__block">
                <div class="steps__block-header">
                    <h5 class="steps__block-number">04</h5>
                    <div class="steps__block-line"></div>
                </div>
                <div class="steps__block-body">
                    <h6 class="steps__block-title">Corrections if needed</h6>
                    <p class="steps__block-description">Sit veniam aute dolore adipisicing nulla sit culpa. Minim mollit voluptate ullamco proident ea ad.</p>
                </div>
            </div>
        </div>
    </div>
</section>