.steps {
    padding-top: 180px;

    // .steps__flex

    &__flex {
    display: flex;
    gap: 30px;
    align-items: center;
    @media(max-width:991px){
        flex-direction: column;
    }
    }

    // .steps__block

    &__block {
        max-width: 285px;
        @media(max-width:991px){
            display: flex;
            gap: 25px;
        }
    }

    // .steps__block-header

    &__block-header {
        display: flex;
        align-items: center;
        margin-bottom: 16px;
        gap: 22px;
        @media(max-width:991px){
            flex-direction: column;
            gap: unset;
        }
    }

    // .steps__block-number

    &__block-number {
        color: #D7DADD;
        font-size: 46px;
        font-weight: 900;
        position: relative;
        z-index: 1;
        &::after,&::before{
            opacity: 0;
            visibility: hidden;
            transition: all 300ms ease-in-out;
        }
        &.active{
            color: #FF3F3A;
            &::before{
                opacity: 1;
                visibility: visible;
                content: '';
                top: 0;
                position: absolute;
                width: 70px;
                height: 70px;
                border-radius: 50%;
                background-color: #FFDDDD;
                z-index: -1;
                right: -7px;
                top: -10px;
            }
            &::after{
                opacity: 1;
                visibility: visible;
                content: '';
                width: 116px;
                height: 116px;
                background: #FFF3F3;
                border-radius: 50%;
                position: absolute;
                z-index: -2;
                top: -32px;
                left: -31px;
                    animation: wave 1.5s infinite;
                
                
            }
        }
        
            @keyframes wave {
                0%{
                    transform: scale(1);
                }
                50%{
                    transform: scale(1.1);
                }
                100%{
                    transform: scale(1);
                }
        }
    }
    // .steps__block-line

    &__block-line{
        
        position: relative;
        @media(min-width:992px) {
            width: 100%;
            max-width: 209px;
            height: 1px;
            border-top: 1.50px dashed #D7DADD;;
        }
        &.active{
            &::after{
                content: '';
                max-width: inherit;
                width: 100%;
                height: 1.50px;
                position: absolute;
                background: #FF3F3A;
                transition: all 300ms ease-in-out;
                top: -2px;
                animation: stepLine 2000ms forwards;
                @keyframes stepLine {
                    0%{
                        width: 0 ;
                    }
                    100%{
                       width: 100%;
                    }
                }
            }
        }
       
    }

    // .steps__block-body

    &__block-body {
    }

    // .steps__block-title

    &__block-title {
        margin-bottom: 8px;
        font-size: 20px;
        font-weight: 700;
        position: relative;
        z-index: 2;

    }

    // .steps__block-description

    &__block-description {
        color: var(--gray-700, #787A80);
        font-size: 16px;
        font-weight: 400;
        line-height: 160%;
        position: relative;
        z-index: 5;
    }
    .default-section__header{
        margin-bottom: 60px;
    }
}

