<section class="comments">
    <div class="_container">
        <div class="comments__wrapper">
            <div class="default-section__header">
                <h3 class="default-section__header-subtitle">TESTIMONIALS</h3>
                <h2 class="default-section__header-title">What our students say</h2>
            </div>
             <!-- Slider main container -->
            <div class="comments__swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <div class="comments__card">
                        
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="comments__card">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="comments__card">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="comments__card">
                    </div>
                </div>
               
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>
            
            </div>
            <div class="createx-swiper-button-prev comments-swiper-button-prev"></div>
            <div class="createx-swiper-button-next comments-swiper-button-next"></div>
        </div>
    </div>
</section>