<section class="createx-certificate">
    <div class="_container">
        <div class="createx-certificate__wrapper">
            <div class="createx-certificate__body">
                <div class="default-section__header">
                    <h3 class="default-section__header-subtitle">Createx Certificate</h3>
                    <h2 class="default-section__header-title">Your expertise will be confirmed  </h2>
                </div>
                <p class="createx-certificate__discription">We are accredited by international professional organizations and institutes:</p>
                <div scrolldelay="60" class="createx-certificate__partners">
                    <img src="img/Home/Createx-certificate/logo-1.png" alt="del-mar-strategy" class="createx-certificate-partner">
                    <img src="img/Home/Createx-certificate/logo-2.png" alt="sentinal-consulting" class="createx-certificate-partner">
                    <img src="img/Home/Createx-certificate/logo-3.png" alt="national" class="createx-certificate-partner">
                </div>
                <marquee scrolldelay="60" class="createx-certificate__partners">
                    <img src="img/Home/Createx-certificate/logo-1.png" alt="del-mar-strategy" class="createx-certificate-partner">
                    <img src="img/Home/Createx-certificate/logo-2.png" alt="sentinal-consulting" class="createx-certificate-partner">
                    <img src="img/Home/Createx-certificate/logo-3.png" alt="national" class="createx-certificate-partner">
                </marquee>
            </div>
            <img src="img/Home/Createx-certificate/certificate.png" alt="certificate" class="createx-certificate-img">
        </div>
    </div>
</section>
