<section class="subscribe">
    <div class="_container">
        <div class="default-section__header">
            <h3 class="default-section__header-subtitle">Don’t miss anything</h3>
            <h2 class="default-section__header-title">Subscribe to the Createx School announcements</h2>
        </div>
        <form class="subscribe__form" action="post">
            <input id="subscribe__form-email" class="subscribe__form-email"  placeholder="Your working email" type="email">
            <input id="subscribe__form-btn" class="default-button" type="button" value="Subscribe">
        </form>
    </div>
</section>