// SWIPER-BUTTONS
@font-face {
  font-family: 'swiper-buttons';
  src:  url('../fonts/swiper-buttons.eot');
  src:  url('../fonts/swiper-buttons.eot') format('embedded-opentype'),
    url('../fonts/swiper-buttons.ttf') format('truetype'),
    url('../fonts/swiper-buttons.woff') format('woff'),
    url('../fonts/swiper-buttons.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="createx-swiper-button-"], [class*=" createx-swiper-button-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'swiper-buttons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.createx-swiper-button-next,.createx-swiper-button-prev{
  &.swiper-button-disabled{
   &::before{
    color: #FF3F3A;
   }
  }
  position: absolute;
  cursor: pointer;
  font-size: 13px;
  @media(min-width:1024px){
    &:hover{
      &::before{
        transition: all 250ms ease-in-out;
        background: #FF3F3A;
        padding: 18px 14px;
        border-radius: 50%;
        color: #fff;
      }
    }
  }
}

@media(min-width:1024px){
  .createx-swiper-button-next:before {
    content: "\e900";
    color: #424551;
  }
  .createx-swiper-button-prev:before {
    content: "\e901";
    color: #424551;
  }
}









// SOCIAL LINKS
@font-face {
  font-family: 'social-links';
  src:  url('../fonts/social-links.eot');
  src:  url('../fonts/social-links.eot') format('embedded-opentype'),
    url('../fonts/social-links.ttf') format('truetype'),
    url('../fonts/social-links.woff') format('woff'),
    url('../fonts/social-links.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="link-"], [class*=" link-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'social-links' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.link-facebook,.link-instagram,.link-linkedin{
  &:hover{
    &::before{
      transition: all 350ms ease-in-out;
      color: #fff;
    }
  }
  &::before{
    font-size: 20px;
    color: #A8A9AE;
  }
}
.link-instagram:before {
  content: "\e900";
}
.link-linkedin:before {
  content: "\e901";
}
.link-facebook:before {
  content: "\e902";
}

@font-face {
  font-family: 'icon-login';
  src:  url('../fonts/icon-login.eot');
  src:  url('../fonts/icon-login.eot') format('embedded-opentype'),
    url('../fonts/icon-login.ttf') format('truetype'),
    url('../fonts/icon-login.woff') format('woff'),
    url('../fonts/icon-login.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="createx-icon-"], [class*=" createx-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon-login' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.createx-icon-account{
  &:hover{
    &::before{
      color: #F75E05;
    }
  }
}
.createx-icon-account:before {
  transition: all 350ms ease-in-out;
  content: "\e900";
  color: #424551;
}




// FOOTER LINKS ICONS

@font-face {
  font-family: 'footer-links';
  src:  url('../fonts/footer-links.eot');
  src:  url('../fonts/footer-links.eot') format('embedded-opentype'),
    url('../fonts/footer-links.ttf') format('truetype'),
    url('../fonts/footer-links.woff') format('woff'),
    url('../fonts/footer-links.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="footer-link-"], [class*=" footer-link-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'footer-links' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.footer-link-facebook,.footer-link-instagram,.footer-link-linkedin,.footer-link-telegram,.footer-link-twitter{
  &:before{
  opacity: 0.6;
  font-size: 24px;
  transition: all 250ms ease-in-out;
  }
  &:hover{
    &::before{
      opacity: 1;
    }
  }
  
}
.footer-link-youtube:before {
 
  content: "\e901";
  color: #fff;
}
.footer-link-telegram:before {
 
  content: "\e902";
  color: #fff;
}
.footer-link-twitter:before {
  
  content: "\e903";
  color: #fff;
}
.footer-link-instagram:before {
 
  content: "\e904";
  color: #fff;
}
.footer-link-linkedin:before {
  
  content: "\e905";
  color: #fff;
}
.footer-link-facebook:before {
  content: "\e906";
  color: #fff;
}


// Auth Providers Icons

@font-face {
  font-family: 'auth-links';
  src:  url('../fonts/auth-links.eot');
  src:  url('../fonts/auth-links.eot') format('embedded-opentype'),
    url('../fonts/icon-login.ttf') format('truetype'),
    url('../fonts/icon-login.woff') format('woff'),
    url('../fonts/icon-login.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="auth-link-"], [class*=" auth-link-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'auth-links' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.auth-link-google:before {
  content: "\e900";
  color: #787a80;
}
.auth-link-twitter:before {
  content: "\e901";
  color: #787a80;
}
.auth-link-linkedin:before {
  content: "\e902";
  color: #787a80;
}
.auth-link-facebook:before {
  content: "\e903";
  color: #787a80;
}