@import "fonts";



.main { 
	min-height: calc(100vh - 513px); 
	flex: 1 1 auto; 
  } 
   
  
   
  //<МИКСИНЫ>=============================================================================================== 
//   @import "mixins"; 
  //</МИКСИНЫ>=============================================================================================== 
   
  //<ШРИФТЫ>=============================================================================================== 
   
  //<Подключаем шрифты>======================================================================================= 
  //&subset=cyrillic-ext 
  // @import ""; 
  @import "fonts"; 
  //</Подключаем шрифты>======================================================================================= 
   
  //<Иконочные шрифты>========================================================================================== 
  @import "iconsFont"; 
  //</Иконочные шрифты>========================================================================================== 
   
  //<Шрифт по умолчанию>========================================================================================== 
//   
  //</Шрифт по умолчанию>========================================================================================== 
   
  //</ШРИФТЫ>======================================================================================================= 
   
  //<ПЕРЕМЕННЫЕ>=========================================================================================================== 
  $minWidth: 320px; 
  $maxWidth: 1920 px; 
  $maxWidthContainer: 1585px; 
  $md1: $maxWidthContainer + 12; 
  $md2: 992; 
  $md3: 768; 
  $md4: 480; 
  $bigcontainer: 1920px; 
  //</ПЕРЕМЕННЫЕ>=========================================================================================================== 
   
  //<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>=============================================================================================== 
  @import "null"; 
   
  body { 
	font-weight: 500; 
	font-size: 17px; 
	&._lock { 
	  overflow-y: hidden; 
	  position: fixed; 
	  top: 0; 
	  right: 0; 
	  left: 0; 
	  bottom: 0; 
	} 
  } 
   
  //</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>=============================================================================================== 
   
  //<ОБОЛОЧКА>=========================================================================================================== 
  .wrapper { 
	min-height: 100%; 
	display: flex; 
	flex-direction: column; 
  } 
   
  //</ОБОЛОЧКА>=========================================================================================================== 
   
  //<ОСНОВНАЯ СЕТКА>=========================================================================================================== 
  ._container { 
	max-width: 1230px; 
	margin: 0 auto; 
   
	@media (max-width:1200px) { 
    padding: 0 15px;

	} 
   
	@media (max-width: $md3 + px) { 
	  max-width: none; 
	  padding: 0 15px; 
	} 
  } 
   
  //</ОСНОВНАЯ СЕТКА>=========================================================================================================== 
   
  //<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>==================================================================================================== 
  @import "./templates/templates.scss"; 
   
  //</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>==================================================================================================== 
   
  @import "./templates/events.scss";
  @import "./pages/createx-certificate.scss";
  @import './templates/subscribe.scss';
  @import './templates//loader.scss';

  
  //<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>==================================================================================================== 
   
  @import "./pages/header.scss"; 
  @import "./pages/footer.scss"; 

/* HOME */
  @import './pages/Home/home-hero.scss';
  @import './pages/Home/home-about.scss';
  @import './pages/Home/home-course.scss';
  @import './pages/Home/home-benefits.scss';
  @import './pages/Home/home-events.scss';
  @import './pages/Home/home-team.scss';
  @import './pages/Home/comments.scss';
  @import './pages/latest-posts.scss';

  /* COURSES*/
  @import '../scss/pages/Courses/courses-course.scss';

  /* EVENTS*/
  @import '../scss/pages/Events/events-lectures.scss';

  /* ProductPage*/

  @import '../scss//templates/ProductPage/hero.scss';
  @import '../scss//templates/ProductPage/course-info.scss';
  @import '../scss//templates/ProductPage/curator.scss';
  @import '../scss//templates/ProductPage/steps.scss';
  @import '../scss//templates/ProductPage/discount.scss';
  @import '../scss//templates/ProductPage/plan.scss';













 
  //</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ
  
//   СТРАНИЦ И ЭЛЕМЕНТОВ==================================================================================================== 
   
  //<ОСНОВНОЙ БЛОК>==================================================================================================== 
  .page { 
	// padding: 90px 0px 0px 0px; 
	flex: 1 1 auto; 
  } 
   
  //=================================================================================================================================== 
   
  //</ОСНОВНОЙ БЛОК>====================================================================================================

